<div class="video-background">
  <iframe
    src="https://www.youtube.com/embed/2m_a74SWCjE?autoplay=1&mute=1&controls=0&loop=1&playlist=2m_a74SWCjE"
    frameborder="0"
    allow="autoplay; fullscreen"
    allowfullscreen>
  </iframe>
</div>

<div class="content">
  <router-outlet></router-outlet> <!-- This will render the LoginComponent or other pages -->
  
  <!-- Add a material icon for sound toggle -->
  <div class="sound-toggle" (click)="toggleSound()">
    <span id="sound-icon" class="material-icons">{{ isMuted ? 'volume_off' : 'volume_up' }}</span>
  </div>
</div>