/* Personal Page */
.personal-page {
  position: relative;
  height: 100vh;
  color: white;
  text-align: center;
  overflow: hidden;
}





/* Content Styling */
.content {
  position: relative;
  z-index: 1;
  margin-top: 150px;
}

h1 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Introduction Text */
.intro-text {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 800px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  font-style: italic;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

/* Actions Buttons */
.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.action-button {
  background-color: rgba(169, 169, 169, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.action-button:hover {
  background-color: rgba(169, 169, 169, 0.8);
  color: white;
}

/* Profile button in the top-left corner */
.profile-button {
  position: absolute;
  top: 20px; /* Same height for consistency */
  left: 15px; /* Adjust spacing from the left */
  z-index: 20;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px; /* Consistent size */
  height: 48px; /* Consistent size */
  padding: 0;
}

.profile-button mat-icon {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.3s ease;
}

.profile-button:hover mat-icon {
  color: rgba(255, 255, 255, 1);
}

/* Logout button in the top-right corner */
.logout-button {
  position: absolute;
  top: 20px; /* Same height as profile button */
  right: 15px; /* Adjust spacing from the right */
  z-index: 20;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px; /* Consistent size */
  height: 48px; /* Consistent size */
  padding: 0;
}

.logout-button mat-icon {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.3s ease;
}

.logout-button:hover mat-icon {
  color: rgba(255, 255, 255, 1);
}
