<div class="personal-page">
  <div class="rain-overlay"></div> <!-- Rain animation -->

  <h1>Welcome to Your Digital Time Capsule</h1>
  <p>Here you can create new capsules or view the ones you've already saved!</p>

  <div class="actions">
    <button (click)="createNewCapsule()">Create New Capsule</button>
    <button (click)="viewCapsules()">View Available Capsules</button>
  </div>
</div>

<div>
  <h1>Welcome, {{ user?.username }}!</h1>
  <p>Email: {{ user?.email }}</p>
  <p>User ID: {{ user?.userId }}</p>
  <button (click)="logout()">Logout</button>
</div>


  
  
