<div class="welcome-message-container">
  <h1 class="welcome-message">Sign Up to the Digital Time Capsule!</h1>
</div>

<div class="login-form">
  <form (ngSubmit)="onSignup()">
    <mat-form-field class="input-field">
      <input matInput type="text" [(ngModel)]="signupData.username" name="username" required placeholder="Username" />
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput type="email" [(ngModel)]="signupData.email" name="email" required placeholder="Email" />
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput type="password" [(ngModel)]="signupData.password" name="password" required placeholder="Password" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="login-button">Sign Up</button>
  </form>

  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <button mat-button (click)="navigateToLogin()" class="signup-button">Back to Login</button>
</div>

  